.container .title{
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 1rem;
}

.container .title:hover{
    color: #f7d354;
}

.title .query-text {
    color: #f7d354;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.movies-container div {
    width: 30%;
    color: fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem;
}

.movies-container div img{
    max-width: 100%;
}

.movies-container div img,
.movies-container div h2,
.movies-container div p {
    margin-bottom: 1rem;
}

.movies-container div svg {
    color: #f2d354;
}

.movies-container div a {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #000;
    padding: 1rem 0.5rem;
    align-items: center;
    transition: 0.4s;
    text-align: center;
}

.movies-container div a:hover {
    background-color: transparent;
    color: #f7d354;
}

.top {
    display: flex;
    justify-content: center;
    padding: 2rem;

}

.top:hover {
    scale: 1.2;
}

@media screen and (max-width: 350px) {
    .container .title{
        font-size: 2rem;
    }

    .movies-container div {
        width: 100%;
        
    }
}

@media screen and (max-width: 700px) {
    .container .title{
        font-size: 2rem;
    }

    .movies-container div {
        width: 100%;
        
    }
}